body{
    background-color: powderblue;
}
h1{
    color:blue;
    font-family: 'Times New Roman';
    font-size: 300%;
    border: 2px solid pink;
    margin: 50px;
}
p{
    color: red;
    font-family: 'Times New Roman';
    font-size: 160%;
    border: 2px solid black;
    padding: 30px;
}


/* Padding 
- Space between text and the border 


*/